name: Pre-Merge Checks

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    name: Build Simulations
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cpu_arch: [arm64, amd64]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Simulations
        run: make build cpu_arch=${{ matrix.cpu_arch }}
